@{
  Layout = "_Layout";
}

@model Sweets.Models.Flavor;

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<br>
</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No treats have this flavor listed</p>
  <h5>@Html.ActionLink("Add this flavor to a treat", "AddTreat", new { id = Model.FlavorId })</h5>
}
else
{
  <h4>Treats with this flavor:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Treat.Title</li>
  }
  </ul>
  <br>
  <h5>@Html.ActionLink("Add this flavor to a treat", "AddTreat", new { id = Model.FlavorId })</h5>
}
<hr />

<h5>@Html.ActionLink("Edit flavor", "Edit", new { id = Model.FlavorId }) | @Html.ActionLink("Delete flavor", "Delete", new { id = Model.FlavorId })</h5>
<br>
<h5>@Html.ActionLink("Back to list of flavors", "Index")</h5>