@{
  Layout = "_Layout";
}

@model Sweets.Models.Treat

<h2>Edit @Html.DisplayFor(model => model.Name)</h2>
<hr />
<br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  <p>Title:
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder="Required", required="required", style="width: 600px;"})</p>

  <p>Flavor:
  @Html.DropDownList("FlavorId")</p>

  <input type="submit" value="Save" class="btn" />
}
<hr />
<br>
<h4>Manage flavors</h4>
<br>
  @foreach(var join in Model.JoinEntities)
  {
    <dl>
      <dt>@join.Flavor.Name
        @using (Html.BeginForm("DeleteFlavor", "Treats"))
        {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="Delete" class="btn"/>
        }</dt>
    </dl>
    }

<hr />
<br>
<h5>@Html.ActionLink("Back to treats", "Index")</h5>